@use '../../styles/variables.scss' as *;
@use "sass:color";

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 2rem;
    position: relative;

    .loginBox {
        background-color: #fff;
        padding: 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
        width: 100%;
        max-width: 400px;
        animation: fadeIn 0.4s ease-in-out;

        h1 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 1.75rem;
            color: $text-dark;
        }
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .formGroup {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
                font-weight: 600;
                font-size: 0.95rem;
                color: $text-dark;
            }

            input {
                padding: 0.75rem;
                border-radius: 0.5rem;
                border: 1px solid $border-color;
                font-size: 1rem;
                transition: border-color 0.3s;

                

                &:focus {
                    outline: none;
                    border-color: $primary-color;
                }
            }
        }

        .passwordWrapper {
            position: relative;

            input {
                width: 100%;
                padding-right: 3rem;
            }

            .togglePassword {
                position: absolute;
                right: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                font-size: 1rem;
                font-weight: 600;
                padding: 10px;
                cursor: pointer;
                color: $text-dark;
            }
        }

        .submitBtn {
            letter-spacing: 0.5px;
        }
    }

    .error {
        color: $danger-color;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .backLink {
        text-align: left;
        margin-top: 1rem;

        a {
            color: $primary-color;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.2s ease;

            &:hover {
                color: color.adjust($primary-color, $lightness: -10%);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
}

