.btn-primary {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Rubik', sans-serif;
  height: 44px;
  justify-content: center;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 2px;
}

.btn-primary:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-primary:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-primary:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}




.btn-secondary {
  background-color: #fff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn-secondary:hover {
  transform: translate(-2px, -2px);
  box-shadow: #422800 6px 6px 0 0;
}

.btn-secondary:active {
  transform: translate(0px, 0px);
  box-shadow: #422800 2px 2px 0 0;
}