$primary-color: #1e90ff;
$primary-hover: #0077e6;

$text-dark: #333;
$text-light: #fff;

$success-color: #2ecc71;
$danger-color: #e74c3c;

$background-light: #f9f9f9;
$border-color: #ccc;
$gray-light: #ccc;

$username-color: #528b8f;