.productForm {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5faff;
  border: 1px solid #d2e9ff;
  border-radius: 12px;
  gap: 10px;

  h3 {
    font-size: 1.5rem;
    color: #004777;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
    margin-right: 5px;

    &:focus {
      border-color: #00afb5;
      outline: none;
    }
  }

  .btn-submit-product {
    background: linear-gradient(to right, #004777, #00afb5);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;

    &:hover {
      background: linear-gradient(to right, #003355, #008b9a);
    }
  }

  .btn-submit-size {
    font-size: 16px;
    padding: 12px 24px;
  }
}