@use '../../../styles/variables' as *;
@use 'sass:color';
@use '../../../styles/mixin' as *;

.formRow {
    background-color: $background-light;
}

.reactSelect {
    font-size: 0.95rem;
    font-family: $font-family-base;

    .select__control {
        border: 1px solid $gray-light;
        border-radius: 6px;
        background-color: $background-light;
        min-height: 38px;
        cursor: pointer;
    }

    .select__value-container {
        padding: 4px 10px;
    }

    .select__menu {
        z-index: 5;
    }

    .select__option {
        cursor: pointer;
    }

    .select__option--is-focused {
        background-color: color.adjust($primary-color, $lightness: 35%);
    }

    .select__option--is-selected {
        background-color: $primary-color;
        color: $text-light;
    }
}


.tableInput {
    padding: 8px 10px;
    border: 1px solid $gray-light;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: $font-family-base;
    background-color: $background-light;
    width: 90px;

    &:focus {
        outline: 2px solid $primary-color;
    }
}


.previewValue {
    font-size: 0.85rem;
    color: $text-gray;
    font-style: italic;
    width: 100%;
    padding: 6px 0;
}

input[type="number"] {
    @include remove-number-arrows;
}