@use "../../styles/variables" as *;

.progressPage {
  font-family: $font-family-base;
  color: $text-dark;
  padding: 2rem;
  margin: auto;
  border-radius: 12px;
  max-width: 100%;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
    min-width: 300px;
  }
}

.card {
  background-color: $white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  text-align: center;

  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #004777;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1rem;
  color: $text-gray;
  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    font-size: 0.95rem;
  }
}

.verticalContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
