@use '../../styles/variables' as *;
@use "sass:color";

.header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
        font-size: 1.25rem;
        font-weight: 700;
        color: $primary-color;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
            color: color.adjust($primary-color, $lightness: -10%);
        }
    }
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn {
        padding: 0.5rem 1rem;
    }

    .username {
        color: $username-color;
        font-weight: bold;
        font-style: italic;
        margin-right: 1rem;
    }

    .usernameInline {
        color: $primary-color;
        font-weight: 600;
    }

    .profileText {
        color: $text-dark;
        font-style: normal;
        font-weight: 500;
        margin-left: 0.5rem;
    }

}

.navLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 110px;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: $primary-color;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;

    &--active {
        border-bottom: 2px solid $primary-color;
    }

    &:hover {
        color: $primary-hover;
    }
}