@use '../../styles/variables' as *;

@use '../../styles/variables' as *;

.header {
  background-color: $primary-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .logoutButton {
    background-color: white;
    color: $primary-color;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

