@use '../../styles/variables' as *;

.footer {
    background-color: #f3ecaa;
    color: $text-dark;
    padding: 2rem 1rem 1rem 1rem;
    font-family: $font-family-base;
    width: 100%;

    .footerContent {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }

    .column {
        min-width: 220px;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
        }

        h4 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 0.95rem;
            margin-bottom: 0.3rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.3rem;

                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-size: 0.95rem;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .social {
            display: flex;
            gap: 1rem;
            margin-top: 0.5rem;

            a {
                font-size: 1.3rem;
                color: $text-dark;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .bottom {
        text-align: center;
        font-size: 0.9rem;
        opacity: 0.8;
        border-top: 1px solid $gray-light;
        padding-top: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 950px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .column {
            text-align: center;
        }
    }
}