@use "../../styles/variables" as *;

.tableContainer {
    background-color: $table-color;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
    max-width: 100%;
}

.heading {
    font-size: 1.5rem;
    color: #004777;
    margin-bottom: 1rem;
    font-weight: 600;
}

.p1 {
    margin: 1rem auto;
    font-weight: 600;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: $font-family-base;
    background-color: $white;

    th,
    td {
        padding: 0.75rem 1rem;
        text-align: center;
        border: 1px solid $gray-light;
        font-size: 0.95rem;
    }

    th {
        background-color: $background-light;
        color: $text-dark;
        font-weight: 600;
    }

    tr:nth-child(even) {
        background-color: #f5f7fa;
    }

    td {
        color: $text-gray;
    }
}

.noData {
    font-style: italic;
    color: $text-gray;
    margin-top: 1rem;
}

.deleteButton {
    background-color: transparent;
    color: $danger-color;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}